/* コンテンツ枠
------------------------------
 */
.ldst__main,
.ldst__side {
  float: none !important;
  width: auto !important;
}
.ldst__main {
  margin: 2rem 0 !important;
}
.ldst__side {
  column-width: 300px;
  column-gap: 15px;
  margin: 3rem 0 2rem !important;
}
.ldst__side > div {
  display: inline-block;
  width: 100%;
}
.ldst__side .mb10,
.ic_external {
  display: none !important;
}

/* 記事内
------------------------------
 */
.ldst__main .blog__area,
.ldst__main .blog__area--simple {
  font-size: 14px;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, Meiryo,
    "M+ 1p", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.08rem;
  line-height: 1.8;
}
.ldst__main .txt_selfintroduction {
  font-size: inherit;
}

/* 記事内画像
------------------------------
 */
.custom_img {
  display: table-cell;
  overflow: hidden;
}
.custom_img img {
  margin: 2rem auto !important;
  width: 100%;
  height: auto;
}
.thumb_hover {
  background: none !important;
}

/* サイドバー
------------------------------
 */
.ldst__side__box {
  padding: 0 !important;
}

/* コメント欄
------------------------------
 */
#commentbox,
#commentbox_in,
#commentbox_trigger {
  width: 100% !important;
  max-width: 960px;
}
