/* コンテンツラップ */
.ldst__main, .ldst__side {
  float: none!important;
  width: auto!important;
  margin: 1rem!important;
}
.ldst__side {
  column-width: 300px;
  column-gap: 15px;
}
.ldst__side > div {
  display: inline-block;
  width: 100%;
}
.ldst__side .mb10 {
  display: none;
}

/* 画像 */
.custom_img {
  display: table-cell;
  overflow: hidden;
}
.custom_img a {
  display: block;
}
.custom_img a:hover img {
  transform: rotate(10deg) scale(1.6);
  transition: .6s ease-in-out;
}
.custom_img img {
  width: 100%;
  height: auto;
  transform: rotate(0) scale(1);
  transition: .5s ease-in-out;
}
.thumb_hover {
  background: none!important;
}
.ic_external {
  display: none;
}

/* サイドバー簡素化 */
.ldst__side__box {
  padding: 0!important;
}
.character__side,
.character__side__currency,
.entry__ranking,
.entry__ranking__thefeast,
.entry__ranking__link,
.entry__ranking__face,
.heading--side--sm,
.heading__icon,
li.entry {
  display: none!important;
}

/* コメント */
#commentbox,
#commentbox_in,
#commentbox_trigger {
  width: 100%!important;
  max-width: 936px;
}
