:root {
  --red: #662929;
  --blue: #293c66;
  --border: 1px solid gray;
}
/* オリジナル要素
------------------------------
 */
#list-bg {
  max-width: 960px;
  margin: 0 auto;
}

/* 全体デザイン
------------------------------
 */
#breadcrumb {
  margin-bottom: 2rem !important;
}
h1 {
  display: none;
}
.heading--lg h2,
h2.heading--lg {
  font-size: 3rem !important;
  text-transform: uppercase;
  font-family: Verdana;
  line-height: 1;
}

.ldst__contents .heading--lg,
.ldst__contents .ldst__window {
  background: transparent !important;
  box-shadow: none !important;
}
.ldst__contents .ldst__window {
  margin-bottom: 2rem !important;
}

/* 注目の日記 - ヘッダ
------------------------------
 */
.heading--pickup {
  color: var(--red) !important;
  border-bottom: 1px solid var(--red) !important;
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}
.heading--pickup p {
  color: var(--red) !important;
}
.entry__pickup__text {
  display: none;
}

/* 注目の日記 - 記事カード
------------------------------
 */
.entry__pickup .entry__blog_block,
.entry__pickup .entry__blog_block__link {
  background: transparent !important;
  box-shadow: none !important;
  box-sizing: border-box;
  border-radius: 0 !important;
}
.entry__pickup .entry__blog_block {
  border: var(--border);
}

/* 最新の日記 - ヘッダ及び検索
------------------------------
 */
h2.heading--lg {
  color: var(--blue) !important;
  border-bottom: 1px solid var(--blue) !important;
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}
.entry__blog_block__pager--change_list,
.ldst__contents .heading__icon h3 {
  display: none;
}
.entry__blog_block__pager--select--block {
  width: 100% !important;
}
.heading__icon[data-key="blog_relation_search"] {
  border-bottom: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.heading__icon i {
  bottom: 2.5rem !important;
}

/* 最新の日記 - 記事カード(全体レイアウト)
------------------------------
 */
.entry__block__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto !important;
}
.entry__block__wrapper::after {
  content: "";
  display: block;
  width: 320px;
}
.entry__block__wrapper .entry__blog_block,
.entry__block__wrapper .entry__blog_block__link {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  box-sizing: border-box;
}

/* 最新の日記 - 記事カード(個別レイアウト)
------------------------------
 */
.entry__block__wrapper .entry__blog_block {
  flex-basis: 300px;
  border: var(--border);
  display: flex;
  flex-flow: column nowrap;
}
.entry__block__wrapper .entry__blog_block h5 {
  padding: 1.5rem 1rem 3rem;
  font-size: 1.4rem;
  line-height: 1.2;
}
.entry__block__wrapper .entry__blog_block a {
  color: inherit !important;
}

.entry__block__wrapper .entry__blog_block .eyecatch {
  position: relative;
  color: white;
}
.entry__block__wrapper .entry__blog_block .eyecatch img {
  object-fit: cover;
  width: 100%;
}
.entry__block__wrapper .entry__blog_block .world {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(0, 0, 0, 0.6);
}
.entry__block__wrapper .entry__blog_block .info {
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  opacity: 0.75;
  box-sizing: border-box;
}
.entry__block__wrapper .entry__blog_block span {
  padding: 0 0.2rem;
}
.entry__block__wrapper .entry__blog_block .time {
  margin-right: auto;
}
.entry__block__wrapper .entry__blog_block:hover {
  cursor: pointer;
}
.entry__block__wrapper .entry__blog_block:hover h5 {
  text-decoration: underline;
}
