.ldst {
  &__main,
  &__side {
    float: none !important;
    width: auto !important;
  }

  &__main {
    margin: 2rem 0 3rem !important;

    .blog {
      &__area,
      &__area--simple {
        font-family: -apple-system, BlinkMacSystemFont, "Yu Gothic Medium",
          YuGothic, sans-serif;
        font-feature-settings: "palt";
        text-align: justify;
        letter-spacing: 0.08rem;
        line-height: 1.8;

        .txt_selfintroduction {
          font-size: 15px;
        }
      }
    }

    /* 記事内画像 */
    .custom_img {
      display: block;
      overflow: hidden;

      img {
        margin: 2rem auto;
        max-width: 100%;
      }

      /* サムネイル枠 & 外部リンクアイコン */
      .thumb_hover,
      .ic_external {
        display: none !important;
      }
    }

    /* コメント */
    .blog__comment {
      &_box,
      &_box__wrapper,
      &_box__header {
        width: 100% !important;
        max-width: 960px;
      }
    }

    /* 独自ブロックボタン */
    #custom_blocklist {
      margin-bottom: var(--margin-bottom);
      padding: 0 1rem;

      span {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__side {
    /* サイドバーをカラム表示化 */
    column-count: 3;

    > div {
      page-break-inside: avoid;
      break-inside: avoid;
    }

    /** バナー表示を除外 */
    .mb10 {
      display: none !important;
    }

    &__box {
      padding: 0 !important;
    }
  }
}
