/* 全体デザイン
------------------------------
 */
:root {
  --red: #77202f;
  --blue: #0f4c81;
  --gray: #7e7d88;
  --black: #666;
  --border: 1px solid var(--gray);
  --margin-bottom: 2rem;
  --h-font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 1rem 1rem;
  width: 550px;
  max-height: 80vh;
}

/* 見出し
------------------------------
 */
h1 {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: var(--border);
  font-family: var(--h-font-family);
  font-size: 1rem;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3C!--%20Generator%3A%20Adobe%20Illustrator%2015.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20--%3E%3Csvg%20version%3D%221.1%22%20id%3D%22_x32_%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20512%20512%22%20style%3D%22width%3A%20256px%3B%20height%3A%20256px%3B%20opacity%3A%201%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%234B4B4B%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M428.159%2C377.156c-35.266-4.094-69.5-15.797-99.781-32.109c-37.859-20.453-69.672-47.859-89.734-77.297%20c-13.297-19.641-21.563-40.391-21.609-61.156c0-3.766%2C0.281-7.531%2C0.875-11.25l24.781%2C3.922c-0.359%2C2.375-0.547%2C4.813-0.547%2C7.328%20c-0.063%2C13.797%2C5.828%2C30.266%2C17.266%2C47.063c11.391%2C16.766%2C28.078%2C33.703%2C48.266%2C48.625c40.359%2C29.922%2C94.547%2C51.563%2C147.063%2C51.484%20c6.266%2C0%2C42.688-5.219%2C48.891-5.844c19.422-14.875-1.047-24.328-1.047-24.328L267.19%2C110.469l31.813-54.063%20c0%2C0-63.609%2C0-133.594%2C6.359C95.44%2C69.125%2C63.628%2C123.203%2C63.628%2C123.203L0.003%2C132.75c0%2C0%2C54.078%2C38.156%2C79.516%2C47.719%20c21.344%2C151.5%2C118.563%2C197.063%2C183.109%2C204.891l28.391%2C41.625h-52.453v28.609h93.813c2.516%2C0%2C4.813-1.375%2C5.984-3.594%20s1.016-4.906-0.391-6.969l-40.281-59.078c11.781-1.25%2C19.953-4.031%2C22.813-7.203c29.172%2C26.125%2C54.828%2C49.813%2C54.828%2C49.813%20l120.891-6.359c0%2C0-29.891-19.391-68.781-44.766C427.69%2C377.344%2C427.909%2C377.234%2C428.159%2C377.156z%22%20style%3D%22fill%3A%20rgb(156%2C%2054%2C%2054)%3B%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: contain;
    margin: 1.5rem auto 1rem;
  }
}

h2 {
  margin-bottom: 1rem;
  font-family: var(--h-font-family);
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--black);
}

/* 設定リスト
------------------------------
 */
#settings {
  margin-bottom: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, Meiryo,
    "M+ 1p", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.08rem;
  line-height: 1.8;
}

.setting-primary {
  list-style: none;
  font-weight: bold;
}

/* ブロックリスト
------------------------------
 */
#blocklist-box {
  margin: 0.4rem 0.4rem 1.5rem;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#blocklist-list {
  width: 100%;

  th,
  td {
    padding: 0.2rem 0.5rem;
    word-break: keep-all;
  }

  tbody {
    font-weight: normal;
  }

  .remove {
    color: var(--blue);

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* ボタン
------------------------------
 */
#buttons {
  text-align: center;
}

button {
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  border-radius: 4px;

  &:active {
    transform: translateY(4px);
  }
}

#save {
  background: var(--blue);
  color: white;
}
